version: '3'

services:
    joehallenbeckcom:
        build: .
        hostname: joehallenbeck.docker
        working_dir: /srv/jekyll
        command: jekyll serve
        environment:
            docker: "true"
        ports:
            - 4000:4000
        volumes:
            - .:/srv/jekyll
