---
layout: default
---

{% for page in paginator.posts %}
    {% capture excerpt %}{{ page.content }}{% endcapture %}
    {% include article.html %}
{% endfor %}

<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous"><i class="fa fa-arrow-circle-o-left"></i></a>
    {% endif %}
    <span class="page-number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next"><i class="fa fa-arrow-circle-o-right"></i></a>
    {% endif %}
</div>
