<footer>
    <section class="row">
        <div class="col-sm-2">
            <img src="/images/template/2012-self-portrait.jpg" alt="Joseph Hallenbeck, Myself" class="img-rounded" />
        </div>
        <div class="col-sm-10">
            <h4>
                About
                <a href="https://github.com/{{ site.github }}">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/{{ site.linkedin.com }}">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/{{ site.twitter }}">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </h4>
            <p>Joseph Hallenbeck attended the RTIS program at DigiPen Institute of Technology, studied Victorian-era literature at the University of Oxford, and graduated from Augustana University in Sioux Falls, SD with a B.A. in Philosophy and English Literature. He has worked as an interpretive ranger, naturalist, and caver for the National Park Service and is now employed as a Software Engineer at Research Square in Durham, NC.</p>
            <p>Reach out to me at «<a href="mailto:{{ site.email }}">{{ site.email }}</a>»</p>
</p>
        </div>
    </section>
    <cite>
        Copyright 2011 - 2017 Joseph Hallenbeck
    </cite>
</footer>
