<nav class="col-sm-3">
    <div>
        <h4>pages</h4>
        <ul>
            <li class="xs-inline"><a href="{{ site.baseurl }}">blog</a></li>
            {% for page in site.pages %}
                {% if page.title and page.layout == 'page' %}
                <li class="xs-inline {% if page.title == 'Categories' or page.title == 'Series' %}visible-xs-inline{% endif %}">
                    <a href="{{ page.url }}">{{ page.title }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="hidden-xs">
        <h4>categories</h4>
        <ul>
        {% for category in site.categories %}
            {% capture category_name %}{{ category | first }}{% endcapture %}
            <li><a href="/category/{{ category_name | slugify }}">{{ category_name }}</a>
        {% endfor %}
        </ul>
        <h4>series</h4>
        <ul>
        {% for tag in site.tags %}
            {% capture tag_name %}{{ tag | first }}{% endcapture %}
            <li><a href="/series/{{ tag_name | slugify }}">{{ tag_name }}</a></li>
        {% endfor %}
        </ul>
        <h4>recent posts</h4>
        <ul>
        {% for post in site.posts limit:15 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
        <h4>annual archives</h4>
        <ul>
        {% assign count = 0 %}
        {% for post in site.posts %}
            {% assign currentdate = post.date | date: "%Y" %}
            {% if currentdate != date and firstpass == 1 %}
                ({{ count }})</a>
                {% assign count = 0 %}
                </li>
            {% endif %}
            {% if currentdate != date %}
                <li>
                <a href="/year/{{ currentdate }}/">Posts from {{ currentdate }}
                {% assign date = currentdate %}
                {% assign firstpass = 1 %}
            {% endif %}
            {% assign count = count | plus: 1 %}
        {% endfor %}
            ({{ count }})</a>
            </li>
        </ul>
    </div>
</nav>

