@media screen and (max-width: 768px) {
    .visible-xs-inline {
        display: inline; !important;
    }

    .xs-inline {
        display: inline; !important;
    }
}

@media screen and (min-width: 768px) {
    .visible-xs-inline {
        display: none; !important;
    }

    .xs-inline {
        display: inherit;
    }
}

a:link,
a:visited{
    color: #665062;
}

a:hover {
    color: black;
}

body {
    font-family: "Verdana";
    margin: 16px auto;
    max-width: 980px;
}

header {
    font-size: 36px;
    text-align: right;
    font-weight: bold;
}

header a:link {
    text-decoration: none;
}

header a:hover {
    color: black;
}

header div {
    background: transparent url("/images/template/headers/background-1.jpg") no-repeat scroll 0% 0%;
    border: 0px hidden;
    border-radius: 25px;
    width: 950px;
    height: 180px;
    margin-bottom: 1em;
}

nav {
    font-size: 18px;
    border-right: 1px dotted #ccc;
    padding-right: 0px;
}

nav h4 {
    color: #888;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.1em;
    margin-top: 10px;
    margin-bottom: 0px;
}

nav ul {
    padding-left: 10px;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    margin-bottom: .8em;
    text-transform: lowercase;
}

@media screen and (max-width: 768px) {
    nav li a {
        font-size: 16px;
    }

    main {
        padding-left: 15px;
    }
}

@media screen and (min-width: 768px) {
    nav li a {
        font-size: 13px;
    }

    main {
        padding-left: 30px !important;
    }
}

article {
    max-width: 650px;
    line-height: 1.6;
    font-size: 15px;
    color: #444;
    padding: 0 1px;
    margin-bottom: 2em;
}

article .head-matter {
    margin-bottom: 2em;
}

article .head-matter .date {
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px dotted #bbb;
    margin-bottom: 4px;
}

article .head-matter h1 {
    border-bottom: none;
    font-weight: bold;
    margin: 0;
    font-size: 42px;
}

article .head-matter a:link,
article h1 a:link,
article h2 a:link,
article h3 a:link,
article h4 a:link {
    text-decoration: none;
}

article .head-matter .meta {
    color: #888;
    font-size: 13px;
}

article a:link,
article a:visited{
    text-decoration: underline;
}

article h1,
article h2,
article h3,
article h4 {
    font-weight: 600;
}

article h1 {
    border-bottom: 1px dotted #ccc;
}

article h2 {
    border-bottom: 1px dotted #ccc;
}

article p,
article > ul,
article > ol {
    margin-bottom: 1.4em;
}

article blockquote {
    font-size: 15px;
}

article img {
    max-width: 100%;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    margin: auto;
}

.pagination {
    text-align: right;
    width: 100%;
}

footer section {
    margin-top: 3em;
    background: #C4CBCF;
    padding: 2em;
    border-radius: 25px;
}

footer img {
    max-width: 100%;
}

footer cite {
    display: block;
    text-align: center;
    font-size: 12px;
    padding: 1em 0;
}
